<script type='text/javascript'>
$(function(){
  cliiz.toolbox.defaults.letsWalk = <%= !company.first_edit_done %>
  cliiz.toolbox.defaults.modules = <%=components.html_safe%>; 
  cliiz.toolbox.defaults.page= '<%=page%>'; 
  cliiz.loading = { show: $.noop, hide: $.noop };
  cliiz.toolbox.defaults.i18n = <%=Hash[i18n.map{|i| [i[0],t("modules.infoform.names.#{i[0]}")]}].to_json.html_safe%>
  cliiz.toolbox.initialize(); 
});
</script>
<div class='clz-walk fclz-walk' style='display:none'>
  <div id='fclz-walk-top' class='clz-walktru clz-top'></div>
  <div id='fclz-walk-left' class='clz-walktru clz-left'></div>
  <div id='fclz-walk-right' class='clz-walktru clz-right'></div>
  <div id='fclz-walk-bottom' class='clz-walktru clz-bottom'></div>
  <div id='fclz-tooltip' class='clz-tooltip'>
    <div class='clz-arrow clz-shadow'></div>
    <div class='clz-arrow'></div>
    <div class='clz-content fclz-content'>
      <div class='clz-step clz-step1'>
        <h5>Toolbox</h5>
        <p>Use this toolbox to change your website content and design. Click on each of these icons to see your options.</p>
        <div class='clz-actions'>
          <a class='clz-skip fclz-skip'>Skip</a>
          <a class='clz-next fclz-next' next-step='clz-step3'>Next</a>
        </div>
      </div>
      <div class='clz-step clz-step2'>
        <h5>Publish changes</h5>
        <p>In order to apply your changes, always press Publish button before leaving the page.</p>
        <div class='clz-actions'>
          <a class='clz-skip fclz-skip'>Skip</a>
          <a class='clz-next fclz-next' next-step='clz-step5'>Next</a>
        </div>
      </div>
      <div class='clz-step clz-step3'>
        <h5>Edit, delete, move</h5>
        <p>Use this blue menu on right top of each feature to edit or delete them. Also change the order or position by dragging and dropping them. Click on this icon <img src='/assets/blank.gif' class='clz-setting fclz-next' next-step='clz-step4'/> to open Edit Panel.</p>
        <div class='clz-actions'>
          <a class='clz-skip fclz-skip'>Skip</a>
          <a class='clz-next fclz-next' next-step='clz-step4'>Next</a>
        </div>
      </div>
      <div class='clz-step clz-step4'>
        <h5>Edit Panel</h5>
        <p>Use this panel to customize your features and check changes live on the page after pressing save button.</p>
        <div class='clz-actions'>
          <a class='clz-skip fclz-skip'>Skip</a>
          <a class='clz-next fclz-next' next-step='clz-step2'>Next</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--v2-->
<div style='display:none;' class='fclz-templates'>
  <div class='clz-player fclz-player'></div>
  <div class='clz-file fclz-file' loop='true'>
    <img src='%#thumb_url%' />
    <div class='clz-actions'>
      <button class='clz-active-button fclz-select'>Select</button>
      <button class='clz-attention-button'>Delete</button>
    </div>
  </div>
  <div class="clz-editing">
    <div class="clz-menu">
      <div class="clz-delete fclz-delete"></div>
      <div class="clz-setting fclz-setting"></div>
    </div>
  </div>
  <div class='clz-row fclz-post' loop='true' data-dbid='%#id%'>
    <div class='clz-checkbox clz-aleft' data-checkbox='[name="company[remember_me]"]'><input type='checkbox' value='%#id%' name='company[remember_me]'/></div>
    <label class='clz-label300 clz-pad10'>
      <img src='%#thumb%'/>
      %#title%
    </label>
    <div class='clz-actions'>
      <button class='clz-active-button fclz-edit'>Edit</button>
      <button class='clz-secondary-button fclz-delete'>Delete</button>
    </div>
  </div>
  <div class='clz-row fclz-menu-item' loop='true'>
    <label class='clz-label80 clz-aright'><span class='clz-pretext'></span></label> 
    <label class='clz-label80 clz-aright'>Page Name: </label>
    <input class='clz-input' name='menu[%#field%][name]' value='' />
    <input type='hidden' name='menu[%#field%][uname]' value='' />
  </div>
  <div class='clz-row fclz-field-name'>
    <label class='clz-label'>Name:</label>
    <input class='clz-input fclz-name' name='field[][name]' value='' />
    <label class='clz-label80 clz-aright'>Type:</label>
    <div class='clz-fixlist'>
      <div class='clz-fixlist'>
        <div class='clz-list fclz-types' data-list='[name="field[][type]"]' data-onchange='cliiz.toolbox.module.infoform.typeChange'>
          <input name='field[][type]' type='hidden' value='' />
          <span data-selected-value=''>Choose one</span>
          <div class='clz-droplist' data-dropdown=''>
            <%Component.default_for('infoform')[:config][:types].each do |type|%>
              <div data-value='<%=type[0]%>'><%=t "modules.infoform.#{type[0]}"%></div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <label class='clz-label80 clz-aright'>Validation:</label>
    <div class='clz-fixlist'>
      <div class='clz-fixlist'>
        <div class='clz-list fclz-validations' data-list='[name="field[][validation]"]'>
          <input class='clz-input fclz-validation' type='hidden' name='field[][validation]' value='' />
          <span data-selected-value=''>Choose one</span>
          <div class='clz-droplist' data-dropdown=''>
            <%CLIIZ::COMPONENTS::Form::VALIDATIONS.each do |validation|%>
              <div data-value='<%=validation%>'><%=t "modules.infoform.validations.#{validation}"%></div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render :partial => 'general/editor.forms' %>
</div>
<div class='clz-form-box fclz-formbox'>
  <div class='clz-form'>
    <div class='clz-actions'>
      <button class='clz-preview fclz-preview'>Preview</button>
      <button class='clz-close fclz-close'>Cancel</button>
      <button class='clz-preview fclz-save' style='display:none;'>Save</button>
      <button class='clz-close fclz-back' style='display:none;'>Back</button>
    </div>
    <div class='fclz-forms'>
      <div formfor='post'>
        <h2>Blog Post</h2>
        <div class='clz-row clz-inlined'>
          <input type='hidden' name='post[id]' value='' />
          <label class='clz-label80 clz-aright'>Title: </label>
          <input class='clz-input' name='post[title]' value='' />
        </div>
        <div class='clz-row'>
          <label class='clz-label80 clz-aright'>Publish Date: </label>
          <div class='clz-input-block270'>
            <input class='clz-input' name='post[publish_date]' value='<%=Date.today.strftime "%m/%d/%Y"%>' />
            <a class='clz-input-date fclz-post-date'></a>
          </div>
        </div>
        <div class='clz-row'>
          <label class='clz-label80 clz-aright'>Summary: </label>
          <textarea class='clz-textarea' name='post[summary]'></textarea>
        </div>
        <textarea class='fclz-editor' name='post[content]'></textarea>
      </div>
      <div formfor='menu'>
        <h2>Menu</h2>
        <p class='clz-description'>Add pages in your main menu.</p>
        <div class='clz-listing fclz-pages'>
          <% company.setting[:menu].each_with_index do |page, i| %>
            <div class='clz-row fclz-menu-item <%= 'clz-disabled' if !page[3] %>'>
              <label class='clz-label80 clz-stressed'><%=page[0].capitalize if CLIIZ::MENU::FROZEN.include? page[0]%></label>
              <label class='clz-label80 clz-aright'>Page Name: </label>
              <input class='clz-input' name='menu[<%=i%>][name]' value='<%= page[2] %>' />
              <input type='hidden' name='menu[<%=i%>][uname]' value='<%= page[0] %>' />
              <div class='clz-actions'>
                <div class='clz-updown'>
                  <div class='clz-up fclz-up'></div>
                  <div class='clz-down fclz-down'></div>
                </div>
              </div>
            </div>
          <%end%>
          <div class='clz-row-button fclz-add'>+ Add more pages</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='clz-theme-preview fclz-theme-preview'></div>
<div class='clz-main fclz-toolbox'>
  <div class='clz-top'>
    <div class='clz-menu'>
      <a href='#contacts'>Contact List (24<span>+10</span>)</a>
      <a href='#files'>File Manager</a>
      <a href='#analytic'>Site Analytics</a>
    </div>
    <div class='clz-session'>
      Logged in as <span><%= company.name %></span>
      <a href='/companies/sign_out'>logout</a>
    </div>
    <div class='clz-clear'></div>
  </div>
  <div class='clz-tools'>
    <button class='clz-publish fclz-publish'>Save changes</button>
    <div class='clz-items'>
      <div class='clz-addon-button clz-expandable' data-tool='.fclz-tools' data-arrange='cliiz.toolbox.sizes.expanded'>
        <div class='clz-info'>
          <div class='clz-cell'>Add to Page by<br/><span>Drag & Drop</span></div>
        </div>
      </div>
      <div class='clz-sitemenu-button' data-tool='' data-open-form='menu' data-arrange='cliiz.toolbox.sizes.normal'></div>
      <div class='clz-package-button clz-expandable' data-tool='.fclz-packages' data-arrange='cliiz.toolbox.sizes.expanded'>
        <div class='clz-info'>
          <div class='clz-cell'><span>Click</span> to Enable<br/>More Packages</div>
        </div>
      </div>
      <div class='clz-theming-button clz-expandable' data-tool='.fclz-themes' data-arrange='cliiz.toolbox.sizes.extra'>
        <div class='clz-info'>
          <div class='clz-cell'>Choose a Category<br/>
            <div class='clz-list'>
              <span>Small Business</span>
              <div class='clz-droplist'>
                <div>Small & Medium Business</div>
                <div>New Designs</div>
                <div>Tradies</div>
                <div>Beauty</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='clz-setting-button' data-tool='' data-arrange='cliiz.toolbox.sizes.normal'></div>
    </div>
    <div class='clz-clear'></div>
  </div>
  <div class='clz-submenu fclz-submenu fclz-tools'>
    <div class='clz-module-button clz-%#uname%-button fclz-module-box' loop='true' data-uname='%#uname%' data-name='%#name%'>
      <div class='clz-info'>
        <div class='clz-cell'>%#name%</div>
      </div>
      <div class='clz-dragdrop'></div>
    </div>
  </div>
  <div class='clz-submenu fclz-submenu fclz-packages'>
    <% packages.each do |p| %>
      <div class='clz-package-button clz-<%=p.uname%>-button <%= used_packages.include?(p) ? 'clz-enabled' : 'clz-disabled' %> fclz-package' data-uname='<%=p.uname%>' data-name='<%=p.name%>' >
        <div class='clz-info'>
          <div class='clz-cell'><%=p.name%></div>
        </div>
        <div class='clz-onoff'></div>
      </div>
    <%end%>
  </div>
  <div class='clz-submenu fclz-submenu fclz-themes'>
    <div class='clz-themeleft fclz-themeleft'></div>
    <div class='clz-themeright fclz-themeright'></div>
    <div class='clz-thememask fclz-thememask'>
      <div class='clz-themeroller fclz-themeroller'>
        <% frames.each do |frame| %>
          <div class='clz-theme fclz-theme' data-id='<%=frame.id%>' style='background: url(<%= frame.image.url(:thumb) %>)' data-preview='<%= frame.image.url(:original) %>'>
            <div class='clz-marker'></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
