  <div formfor='gallery'>
    <h2>Gallery</h2>
    <div class='clz-browser'>
      <div class='clz-current'>Previously uploaded images</div>
      <div class='clz-upload'>
        <span class='clz-upload-button'>
          <button class='clz-active-button'>Upload new files</button>
          <input class='fclz-upload' type="file" name="files[]" data-url="/coreapi/files" multiple>
        </span>
        <div class='clz-progress fclz-progress'>
          <div class='clz-bar fclz-bar'></div>
        </div>
      </div>
      <div class='clz-window fclz-window'>
      </div>
    </div>
  </div>
  <div formfor='blog'>
    <h2>Blog</h2>
    <div class='clz-table fclz-posts'>
      <div class='clz-header fclz-header'>
        <div class='clz-checkbox clz-aleft' data-checkbox='[name="company[remember_me]"]'><input type='checkbox' name='company[remember_me]'/></div>
        <label class='clz-label300 clz-pad10'>Title</label>
      </div>
    </div>
    <div class='clz-bottom-actions'>
      <button class='clz-active-button fclz-new-post'>New</button>
    </div>
  </div>
  <div formfor='content'>
    <h2>Content</h2>
    <p class='clz-description'>Write something interesting for your vistors, add images to your content and make it nicer.</p>
    <textarea class='fclz-editor'></textarea>
  </div>
  <div formfor='infoform'>
    <h2>Form</h2>
    <p class='clz-description'>Make a form to collect visitors information or let them to contact you and get quotes or ...</p>
    <div class='clz-row'>
      <label class='clz-label180'>Which fields to be displayed?</label>
    </div>
    <div class='clz-listing fclz-fields'>
      <div class='clz-row-button fclz-add'>+ Add more fields</div>
    </div>
  </div>
  <div formfor='locationmark'>
    <h2>Map</h2>
    <div class='clz-row'>
      <label class='clz-label80 clz-aright'>Address</label>
      <div class='clz-input-block270'>
        <input class='clz-input270' name='address' value='<%= Component.default_for('locationmark')[:address] %>' />
        <a class='clz-input-button fclz-locate'><span>Locate</span></a>
      </div>
    </div>
    <div class='clz-row'>
      <div class="fn-map-preview" style="margin: 10px; width: 600px; height: 350px"></div>
    </div>
    <div class='clz-row300 clz-inlined'>
      <label class='clz-label80 clz-aright'>Phone</label>
      <input class='clz-input' name='phone' value='<%= Component.default_for('locationmark')[:phone] %>' />
    </div>
    <div class='clz-row300 clz-inlined'>
      <label class='clz-label80 clz-aright'>Fax</label>
      <input class='clz-input' name='fax' value='<%= Component.default_for('locationmark')[:fax] %>' />
    </div>
    <h3>Map Size</h3>
    <div class='clz-row clz-inlined'>
      <label class='clz-label80 clz-aright'>Width</label>
      <input class='clz-input70' name='width' value='<%= Component.default_for('locationmark')[:viewport][0] %>' />
      <label class='clz-label clz-aright'> x Height</label>
      <input class='clz-input70' name='height' value='<%= Component.default_for('locationmark')[:viewport][1] %>' />
    </div>
    <input type='hidden' name='latlng' value='<%= Component.default_for('locationmark')[:latlng][0] %>,<%= Component.default_for('locationmark')[:latlng][1] %>' />
  </div>
  <div formfor='postfilter'>
    <h2>Latest Post</h2>
    <p class='clz-description'>List some of your posts as Latest Posts, Most Read Posts or ... It makes users spending more time in your website.</p>
    <div class='clz-row'>
      <label class='clz-label180'>How many posts to show?</label>
      <input class='clz-input70' name='size' value='<%= Component.default_for('postfilter')[:size] %>'/>
    </div>
    <div class='clz-row'>
      <label class='clz-label180'>How to order posts?</label>
      <%Component.default_for('postfilter')[:config][:types].each_with_index do |f,i|%>
        <div class='clz-radio150' data-radio='[uname=type<%=i%>]' data-group='type'><input type='radio' name='type' uname='type<%=i%>' value='<%=f%>'/><span><%= f%></span></div>
      <%end%>
    </div>
  </div>
  <div formfor='youtube'>
    <h2>Youtube Video</h2>
    <p class='clz-description'>Put your youtube videos in your website by copying and pasting the youtube url address.</p>
    <div class='clz-row'>
      <label class='clz-label180'>Youtube Code or URL</label>
      <input class='clz-input' name='code' value='<%= Component.default_for('youtube')[:code] %>'/>
    </div>
    <div class='clz-row'>
      <label class='clz-label180'>Video size</label>
      <div class='clz-row clz-inlined'>
        <label class='clz-label clz-aright'>Width</label>
        <input class='clz-input70' name='width' value='<%= Component.default_for('youtube')[:width] %>' />
        <label class='clz-label clz-aright'> x Height</label>
        <input class='clz-input70' name='height' value='<%= Component.default_for('youtube')[:height] %>' />
      </div>
    </div>
  </div>
