<!DOCTYPE HTML>
<html>
<head>
  <title>Webuilder.com.au Australian Website Builder</title>
  <meta name="description" content="Free of charge and fastest way to create a website for your small/medium business. In 3 easy steps you have your own website, blog, photo gallery, eshop and more." />
  <meta name="keywords" content="Free website, website, site builder, blog, shop, eshop, photo gallery, small business, cheap, affordable, medium business" /> 
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag "core/jquery.min.js", "core/jquery.extension.js", "core/validation.js", "core.js", 'home.js' %>
  <%= csrf_meta_tag %>
  <% if Rails.env == 'production'%>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12817957-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <%end%>
</head>
<body>
  <div class='contact'>
    <span>
      WE DO<br/>
      IT FOR <b>$399</b>
    </span>
    <div class='number'>1300 230 250<img src='/assets/flat/phone.png'/></div>
  </div>
  <div class='main'>
    <div class='logo'></div>
    <div class='partition left fn-new expanded'>
      <div class='expanded fn-main'>
        <h2>Need a Website?</h2>
        <h3>Step 1: Choose a Name</h3>
        <div class='row fn-row'>
          <label class='label'>Website Name</label><input name='company[name]' class='input fn-name' /><label class='message fn-name'>Is Taken!</label>
        </div>
        <div class='row fn-row'>
          <label class='label'>Password</label><input name='company[password]' class='input fn-password' type='password' /><label class='message fn-password'>Too short!</label>
          <input type='hidden' name='company[password_confirmation]' />
        </div>
        <div class='row fn-row'>
          <label class='label'>Current Email</label><input name='company[email]' class='input fn-email' /><label class='message fn-email'>Is Registered!</label>
        </div>
        <h3>Step 2: Choose a Plan</h3>
        <div class='plans fn-plans'>
          <div class='column'>
            <button class='plan fn-plan'>Free</button>
            <div class='description'>356 DAYS</div>
            <div class='explenation'>
              <div class='option'>YES</div>
              <div class='option disabled'>-</div>
              <div class='option disabled'>5 Pages</div>
              <div class='option'>YES</div>
              <div class='option'>Unlimited</div>
              <div class='option'>YES</div>
              <div class='option'>YES</div>
              <div class='option disabled'>-</div>
              <div class='option disabled dbl'>-</div>
              <div class='option disabled dbl'>-</div>
            </div>
          </div>
          <div class='column'>
            <button class='plan fn-plan active'>$9.99/mo</button>
            <div class='description'>DO IT YOURSELF</div>
            <div class='explenation'>
              <div class='option'>YES</div>
              <div class='option'>.com or .com.au</div>
              <div class='option'>Unlimited</div>
              <div class='option'>YES</div>
              <div class='option'>Unlimited</div>
              <div class='option'>YES</div>
              <div class='option'>YES</div>
              <div class='option disabled'>-</div>
              <div class='option disabled dbl'>-</div>
              <div class='option dbl'>YES</div>
            </div>
          </div>
          <div class='column'>
            <button class='plan fn-plan'>$399</button>
            <div class='description'>RELAX WE DO IT</div>
            <div class='explenation'>
              <div class='option'>YES</div>
              <div class='option'>.com or .com.au</div>
              <div class='option'>Unlimited</div>
              <div class='option'>YES</div>
              <div class='option'>Unlimited</div>
              <div class='option'>YES</div>
              <div class='option'>YES</div>
              <div class='option'>YES</div>
              <div class='option dbl'>$9.99/mo After First Year</div>
              <div class='option dbl'>YES</div>
            </div>
          </div>
          <div class='column fn-compare'>
            <button class='compare'>Compare</button>
            <div class='explenation'>
              <div class='option'>Free Hosting</div>
              <div class='option'>Free Domain</div>
              <div class='option'>Page</div>
              <div class='option'>Site Editor</div>
              <div class='option'>Design Change</div>
              <div class='option'>Social Integration</div>
              <div class='option'>Mobile Version</div>
              <div class='option'>We Build For You</div>
              <div class='option dbl'>First Year Free</div>
              <div class='option dbl'>Stop Monthly Fee Anytime</div>
            </div>
          </div>
        </div>
        <h3>Step 3: Go Live</h3>
        <button class='submit fn-submit'>Go Live</button>
      </div>
      <div class='zipped fn-demo'>
        <h2>NEED <br/>A <br/>WEBSITE?</h2>
        <h3>Step 1: Choose a Name</h3>
        <h3>Step 2: Choose a Plan [ <b>Free</b> | <b>$9.99/mo</b> | <b>$399</b> ]</h3>
        <h3>Step 3: Go Live</h3>
        <button class='right-button start fn-start'>START</button>
      </div>
    </div>
    <div class='right partition fn-info'>
      <div class='expanded fn-main'>
        <h2>Why Businesses Choose Us?</h2>
        <h3>Who is using us?</h3>
        <p>Our happy clients:</p>
        <h3>What do you get in your website?</h3>
        <p>A Fully Dynamic Website! It means you can update and change your website content at any time and your customers can interact with your business via your website <b>(No technical knowledge required)</b>.</p>
        <ul>
          <li>Have as many <b>Pages</b> as you want.</li>
          <li>Create <b>Forms</b> to collect users information.</li>
          <li><b>Blog</b> within your website to build relation with your customers.</li>
          <li>Use <b>Gallery</b> to share images with your customers.</li>
          <li>Use <b>Map</b> to show your business location.</li>
          <li>Add <b>Online Shopping</b> by a single click to start selling online.</li>
          <li>No additional costs for <b>Hosting</b> and <b>Domain</b>.</li>
        </ul>
        <p>All above features are already included in your package.</p>
        <button class='right-button start fn-start'>START</button>
        <h3>How much does it cost?</h3>
        <p>You can do it yourself for <b>$9.99 per month</b> or ask us to customize and setup everything for you within 5 working days for just <b>$399</b> (and $9.99 per month after first year).</p>
      </div>
      <div class='zipped fn-demo'>
        <h2>WHY <br/>BUSINESSES <br/>CHOOSE US?</h2>
        <h3>Who is using us?</h3>
        <h3>What do you get in your website?</h3>
        <h3>How much does it cost?</h3>
        <button class='read fn-read'>READ</button>
      </div>
    </div>
    <div class='frames hidden fn-frames'>
      <div class='list'>
        <span>Choose A Design</span>
        <div class='droplist'>
          <div>S&M Business</div>
          <div>New Designs</div>
          <div>Tradies</div>
          <div>Beauty</div>
        </div>
      </div>
      <div class='fader'></div>
      <div class='themes'>
        <% @frames.each do |frame| %>
          <div class='theme fn-theme' data-id='<%=frame.id%>' style='background: url(<%= frame.image.url(:thumb) %>)' data-preview='<%= frame.image.url(:original) %>'>
            <div class='marker'></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='features'>
    <div class='footer'>
      BE A WEBMASTER
      <div class='promo'>Make a Professional Looking Website</div>
    </div>
    <div class='feature update'>Update <br/>any time</div>
    <div class='feature host'>Free <br/>Hosting</div>
    <div class='feature domain'>Free <br/>Domain</div>
    <div class='feature seo'>Enhanced<br/>SEO</div>
    <div class='feature mobile'>Mobile <br/>Website</div>
  </div>
</body>
</html>
