<%content_for :head do%>
  <%= stylesheet_link_tag 'core/ui/ui.css', 'core/editor/jquery.wysiwyg.css' %>
  <%= javascript_include_tag "core/jquery.datepicker.min.js", "core/editor/jquery.wysiwyg.js", "core/jquery.mousewheel.min.js", "core/template.js", "browser.js", "post.js" %>
<%end%>
<%= render :partial => 'shared/browser' %>
<h1>Post</h1>
<div class='box w748 talign detailed'>
  <div class='top'></div>
  <div class='main fn-blogForm'>
    <form action='<%= @post.new_record? ? '/panel/blogging/' : "/panel/blogging/#{@post.id}"%>' method='POST'>
      <%= render :partial => 'shared/errors' , :locals => { :obj => @post } %>
      <div class='menu righted'>
        <div class='left'></div><div class='main'><a class='fn-choose-image'>Choose Image</a>|<a submit='true'>Save</a>|<a href='/panel/blogging'>Cancel</a></div><div class='right'></div>
      </div>
      <% if !@post.new_record? %>
        <input type='hidden' name='_method' value='put' />
      <%end%>
      <input type='hidden' name='post[image_id]' value='<%= @post.image_id%>' />
      <input name="authenticity_token" type="hidden" value='<%= form_authenticity_token %>' />
      <img class='item-image pointer fn-post-image fn-choose-image' src='<%=@post.thumb %>' />
      <div class='partial byimage'>
        <label>Title</label><span><input class='input' name='post[title]' value='<%=@post.title%>'/><div class='help inline' tip='Post title'></div></span>
        <label>Publish Date</label><span><input class='input' name='post[publish_date]' value='<%=@post.publish_date.strftime "%m/%d/%Y"%>'/><div class='help inline' tip='This date will be shown to users as publish date'></div></span>
        <label class='talign'>Summary</label><span><textarea name='post[summary]' limited='200' class='b400x50 talign'><%=@post.summary%></textarea><div class='help inline' tip='Short summary of the post for listing. If you do not set it, system will generate it from the original post automatically.'></div></span>
      </div>
      <br/>
      <label>Post</label>
      <textarea name='post[content]' class='b700x200 fn-editor'><%=@post.content %></textarea>
      <div class='menu'>
        <div class='left'></div><div class='main'><a class='fn-choose-image'>Choose Image</a>|<a submit='true'>Save</a>|<a href='/panel/blogging'>Cancel</a></div><div class='right'></div>
      </div>
    </form>
  </div>
  <div class='bottom'></div>
</div>
