<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title><%=t 'site.title'%></title>
  <meta name="description" content="Free of charge and fastest way to create a website for your small/medium business. In 3 easy steps you have your own website, blog, photo gallery, eshop and more." />
  <meta name="keywords" content="Free website, website, site builder, blog, shop, eshop, photo gallery, small business, cheap, affordable, 3 page, medium business" /> 
  <link href='/stylesheets/main.css' media="screen" rel="stylesheet" type="text/css" />
  <link href='/stylesheets/locale_<%=locale%>.css' media="screen" rel="stylesheet" type="text/css" />
  <script src="/javascripts/core/jquery.min.js" type="text/javascript"></script>
  <%= csrf_meta_tag %>
  <% if Rails.env == 'production'%>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12817957-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <%end%>
</head>
<body>
  <div class='mainbox flexy'>
    <div class='menu inlined dbld'>
      <a class='login' href='/panel'>
        <span class='left'></span>
        <span class='main'>Create a website</span>
        <span class='right'></span>
      </a>
      <a class='login' href='/panel'>
        <span class='left'></span>
        <span class='main'><%=t 'login' %></span>
        <span class='right'></span>
      </a>
    </div>
    <div class='layouts all'>
      <h1>Latest Free Templates</h1>
      <p>All these templates are copyrighted for use by <a href='http://www.cliiz.com'>cliiz.com</a>. You are free to choose any of them to build your website by cliiz website builder. Copying or using any part of these templates out of cliiz platform is prohibited.</p>
      <p class='bold'>To see the full list of free website templates go to <a href='/#stated'>here</a></p>
      <div class='layout-list-mask'>
        <div class='layout-list fn-layouts-scroll inlined'>
          <% @frames[0..19].each do |f| %>
            <a class='layout fn-layout' target='_blank' href='/templates/<%=f.id%>/home.html' layoutid='<%=f.id%>' layoutname='<%=f.name%>' ><span class='frame'><img src='/images/blank.gif' style='background:url(<%=f.image.url(:thumb)%>)'/></span></a>
          <%end%>
        </div>
      </div>
      <p class='bold'>To see the full list of free website templates go to <a href='/#stated'>here</a></p>
    </div>
  </div>
</body>
</html>
