<div class='cliiz-module' cliiz='package' cliiz-type='gallery' cliiz-uid='<%=uid%>'>
  <div class='cliiz-block cliiz-gallery' cliiz='block'>
    <h1>Gallery</h1>
    <% if items.nil? || items.empty? %>
      <i>Gallery is empty!</i>
    <%else%>
      <% items.each do |i| %>
        <div class='thumb cliiz-image' imageid='<%=i.id%>' original='<%=i.entity.url%>'>
          <img src='<%=i.entity.url(:thumb)%>'/>
          <div class='cliiz-magnified'>
            <a href='/gallery/<%=i.id%>'>
              <img src='<%=i.entity.url(:medium)%>'/>
            </a>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
