<img src='http://maps.googleapis.com/maps/api/staticmap?center=<%=setting[:latlng].join',' %>&markers=color:red|color:red|label:C|<%=setting[:latlng].join',' %>&zoom=14&size=400x300&maptype=roadmap&sensor=false' />
<div class='cliiz-row cliiz-address'>
  <label><%=t'address'%>:</label>
  <span><%=setting[:address]%></span>
</div>
<%unless setting[:phone].blank? %>
  <div class='cliiz-row cliiz-phone'>
    <label><%=t'phone'%>:</label>
    <span><%=setting[:phone]%></span>
  </div>
<%end%>
<%unless setting[:fax].blank? %>
  <div class='cliiz-row cliiz-fax'>
    <label><%=t'fax'%>:</label>
    <span><%=setting[:fax]%></span>
  </div>
<%end%>
