<div class='item fn-item' title='<%=title%>' location='<%=location%>'><div class='icon <%=icon%>'></div><div class='left'></div><a href='<%=url%>' class='label'><span><%=name%></span></a><div class='right'></div><div class='icon shadow <%=icon%>'></div></div>
