<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Welcome to Administration Panel</title>
  <meta name="description" content="Free of charge and fastest way to create your website for your small/medium business. In 3 easy steps you have your own website, blog, eshop and more. Also if you want to expand your current website use our on-click addons to enable shops, blogs, forums, user management and more." />
  <meta name="keywords" content="Free website, website, site builder, blog, shop, eshop, photo gallery, small business, cheap, affordable, 3 page, medium business" /> 
  <%= stylesheet_link_tag 'panel', 'editor' %>
  <%= javascript_include_tag "core/jquery.min.js", 'core/jquery.extension.js', "core.js", 'panel.js' %>
  <%= yield :head %>
  <%= csrf_meta_tag %>
  <% if Rails.env == 'production'%>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12817957-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <%end%>
</head>
<body>
  <%= yield %>
</body>
</html>
